<% include partials/header.ejs %>

<h1>Boite à outils</h1>

<a href="#">Calculette</a>
<a href="#">Calendrier</a>
<a href="#">Chronomètre</a>
<br>
<a href="#">Heure</a>
<a href="#">Alarme</a>
<a href="#">Musique</a>
<br><br>

<a href="/menu"><button type="button">Retour menu</button></a>

<% include partials/footer.ejs %>