<% include partials/header.ejs %>

    <div class="text-center mb-1">
        <h1>Initialisation/Sauvegarde</h1>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col"></div>
            <div class="col">

                <label>Effactement des données antérieurs à ce jour: </label>
                <a href="#" type="button" class="btn btn-outline-primary">Initialisation</a>
                <br>
                <label>Changement concernant l'enseignant: </label>
                <a href="#" type="button" class="btn btn-outline-primary">Enseignant</a>
                <br>
                <label>Sauvegarde des données actuelles: </label>
                <a href="#" type="button" class="btn btn-outline-primary">Sauvegarde</a>
                <br>
                <label>Restauration des données enregistrées: </label>
                <a href="#" type="button" class="btn btn-outline-primary">Restauration</a>
                <br>
                <label>Importer une liste: </label>
                <a href="#" type="button" class="btn btn-outline-primary">Importer</a>
                
            </div>
            <div class="col"></div>
        </div>

    </div>

    <div class="text-center mt-2">
        <a href="/menu_enseignant">
            <button type="button">Retour menu</button>
        </a>
    </div>

    <% include partials/footer.ejs %>