<% include partials/header.ejs %>

<div class="text-center">

    <h1>Listes</h1>
    
</div>


<div class="container bg-light pt-3 pb-3">
    <div class="row">
        <div class="col text-center mb-1">
            
            <div class="text-center">
            
                <p>Listes notions</p>
            
            </div>
        
            <a class="btn btn-primary btn-block" href="#" role="button">Orthographe lexicale</a>
            <a class="btn btn-primary btn-block" href="#" role="button">Ortographe grammaticale</a>
            <a class="btn btn-primary btn-block" href="#" role="button">Conjugaison</a>
            <a class="btn btn-primary btn-block" href="#" role="button">Grammaire</a>
            <a class="btn btn-primary btn-block" href="#" role="button">Vocabulaire</a>
            <a class="btn btn-primary btn-block" href="#" role="button">Production d'écrit</a>
        </div>
        <div class="col text-center mb-1">
            
            <div class="text-center">
                <p>Listes élèves</p>
            </div>
            
            <a class="btn btn-primary btn-block" href="#" role="button">Renseignements</a>
            <a class="btn btn-primary btn-block" href="#" role="button">Date de naissances</a>
            <a class="btn btn-primary btn-block" href="#" role="button">Liste à compléter</a>
        </div>
    </div>
</div>



<div class="text-center mt-4">

    <a href="/menu"><button type="button">Retour menu</button></a>

</div>


<% include partials/footer.ejs %>