<% include partials/header.ejs %>

<h1>Menu élève</h1>

<a href="/eleve/formulaire">Cliquez-ici pour acceder aux formulaires</a>

<br>
<br>

<a href="/menu"><button type="button">Retour menu</button></a>

<% include partials/footer.ejs %>