<% include partials/header.ejs %>

<div class="text-center">

    <h1>Menu enseignant</h1>
    
</div>


<div class="container bg-light pt-3 pb-3">
    <div class="row">
        <div class="col text-center mb-1">
            <a class="btn btn-primary btn-block" href="/sauvegarde" role="button">Initialisation/Sauvegardes</a>
        </div>
        <div class="col text-center mb-1">
            <a class="btn btn-primary btn-block" href="/evaluation" role="button">Evaluations</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-1">
            <a class="btn btn-primary btn-block" href="/inscription" role="button">Inscriptions/Radiations</a>
        </div>
        <div class="col text-center mb-1">
            <a class="btn btn-primary btn-block" href="/lecture" role="button">Lecture</a>
        </div>
    </div>
        <div class="row">
        <div class="col text-center mb-1">
            <a class="btn btn-primary btn-block" href="/listes" role="button">Listes</a>
        </div>
        <div class="col text-center mb-1">
            <a class="btn btn-secondary btn-block" href="/repartition" role="button">Répartion par groupes</a>
        </div>
    </div>
        <div class="row">
        <div class="col text-center mb-1">
            <a class="btn btn-secondary btn-block" href="/profil" role="button">Profil de la classe</a>
        </div>
        <div class="col text-center mb-1">
            <a class="btn btn-secondary btn-block" href="/bulletin" role="button">Bilans/bulletins</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-1">
            <a class="btn btn-secondary btn-block" href="/notions" role="button">Notions étudiées</a>
        </div>
        <div class="col text-center mb-1">
            <a class="btn btn-secondary btn-block" href="/travail" role="button">Travail individualisé</a>
        </div>
    </div>
</div>



<div class="text-center mt-4">

    <a href="/menu"><button type="button">Retour menu</button></a>

</div>


<% include partials/footer.ejs %>