<% include partials/header.ejs %>

    <div class="text-center">

        <h1>Organisation de la répartition des élèves</h1>

    </div>


    <div class="container-fluid bg-light pt-3 pb-3">
        <div class="row">
            <div class="col-md-8 text-center mb-1">

                <div class="text-center">

                    <p>Cocher les matières à prendre en compte</p>

                </div>

                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label>Orthographe lexicale</label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label>Orthographe grammaticale</label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label>Conjugaison</label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label>Grammaire</label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label>Vocabulaire</label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label>Production d'écrit</label><br>
            </div>
            <div class="col-md-4 text-center mb-1">

                <div class="text-center">
                    <p>Nombre de groupe à constituer</p>
                </div>

                <a class="btn btn-primary btn-block" href="#" role="button">Renseignements</a>
                <a class="btn btn-primary btn-block" href="#" role="button">Date de naissances</a>
                <a class="btn btn-primary btn-block" href="#" role="button">Liste à compléter</a>
            </div>

        </div>
        <div class="text-center mt-3">
            <button class="btn-success">Valider</button>
        </div>
    </div>



    <div class="text-center mt-4">

        <a href="/menu">
            <button type="button">Retour menu</button>
        </a>

    </div>


    <% include partials/footer.ejs %>